.progressor {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  color: #849397;
}
.progressor > li {
  position: relative;
  display: table-cell;
  text-align: center;
  font-size: 0.8em;
}
.progressor > li:before {
  content: attr(data-step);
  display: block;
  margin: 0 auto;
  background: #DFE3E4;
  width: 3em;
  height: 3em;
  text-align: center;
  margin-bottom: 0.25em;
  line-height: 3em;
  border-radius: 100%;
  position: relative;
  z-index: 1000;
}
.progressor > li:after {
  content: '';
  position: absolute;
  display: block;
  background: #DFE3E4;
  width: 100%;
  height: 0.5em;
  top: 1.25em;
  left: 50%;
  margin-left: 1.5em\9;
  z-index: -1;
}
.progressor > li:last-child:after {
  display: none;
   z-index: 1000;
}
.progressor > li.is-complete {
  color: #2ECC71;
   z-index: 1000;
}
.progressor > li.is-complete:before, .progressor > li.is-complete:after {
  color: #FFF;
  background: #2ECC71;
}
.progressor > li.is-active {
  color: #3498DB;
    z-index: 1000;
}
.progressor > li.is-active:before {
  color: #FFF;
  background: #3498DB;
    z-index: 1000;
}

/**
 * Needed for IE8
 */
.progressor__last:after {
  display: none !important;
}

/**
 * Size Extensions
 */
.progressor--medium {
  font-size: 1.5em;
}

.progressor--large {
  font-size: 2em;
}

/**
 * Some Generic Stylings
 */
*, *:after, *:before {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 1.5em;
}

.progressor {
  margin-bottom: 3em;
}

/* ANIMATE GLYPH SPIN

*/
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}