
									<div class="col-sm-6">
										

										<div class="well well-sm">
											<h3 class="header smaller lighter red">Progress</h3>
							                <ol class="progressor">
							                  <li class="is-complete" data-step="1"><!--use class: is-complete and is-active to indicate progress. use blank if inactive. -->
							                   File recieved
							                  </li>
							                  <li class="is-active" data-step="2">
							                    Processing
							                  </li>
							                  <li class="is-active" data-step="3" class="progressor__last">
							                    Complete
							                  </li>
							                </ol>
										</div>


										<div class="well well-sm">											
															<ul class="list-unstyled  lighter line-height-25">																
																<li>
																	<i class="ace-icon fa fa-check bigger-110 green"></i>
																	File Recieved
																</li>
																<li>
																	<i class="glyphicon glyphicon-refresh blue glyphicon-refresh-animate"></i>
																	Processing
																</li>
																<li>
																	<i class="ace-icon fa fa-times bigger-110 red"></i>
																	Completed
																</li>

															</ul>
										</div>				



								 <div class="col-sm-8">
								        <div class="form-group">
								            
								            <div class="btn-group ">
								                <label for="fancy-checkbox-default" class="btn btn-default">
								                    <span class="glyphicon glyphicon-ok"></span>
								                    <span> </span>
								                </label>
								                <label for="fancy-checkbox-default" class="txt btn btn-default active">
								                    File Recieved
								                </label>
								            </div>
								        </div>
								   

								        <div class="form-group">
								            <div class="btn-group ">
								                <label for="fancy-checkbox-primary" class="btn btn-primary">
								                    <span class="glyphicon glyphicon-repeat  glyphicon-refresh-animate"></span>
								                    <span> </span>
								                </label>
								                <label for="fancy-checkbox-primary" class=" txt btn btn-default active" >
								                    Proccessing file
								                </label>
								            </div>
								        </div>
								        <div class="form-group">
								            <div class="btn-group ">
								                <label for="fancy-checkbox-primary" class="btn btn-primary">
								                    <span class="glyphicon glyphicon-remove-sign"></span>
								                    <span> </span>
								                </label>
								                <label for="fancy-checkbox-primary" class="txt btn btn-default active">
								                    Process Complete
								                </label>
								            </div>
								        </div>
								    </div>																
									</div><!-- /.col -->