ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  font-size: 20px;
  color: #fff;
  position: relative;
  background-color: #ff7373;
  padding: 4px 10px;
  margin-bottom: 10px;
}

.block-list {
  padding: 10px 10px;
  /* max-width: 360px; */
  min-height: 200px;
  background-color: #fff;
  border: 3px dashed #eee;
}
.tool-list {
  padding: 15px 0px;
  max-width: 360px;

  background-color: #fff;
  border: 1px solid #eee;
}
.block-list > * {
  padding: 9px 30px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.block-list > *:first-child {
  border-top: 1px solid #eee;
}
.block-list > * {
  border-bottom: 1px solid #eee;
}
.block-list > *:hover {
  cursor: move;
}

.tool-list > * {
  padding: 10px 40px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.tool-list > *:first-child {
  border-top: 1px solid #eee;
}
.tool-list > * {
  border-bottom: 1px solid #eee;
}
.tool-list > *:hover {
  cursor: move;
}
.handle {
  cursor: grab;
}

.dropdown-container,
.instructions {
  width: 80%;
  margin: 20px auto 0;
  font-size: 14px;
  font-family: sans-serif;
}

.instructions {
  width: 100%;
  text-align: center;
}

.dropdown-button {
  float: left;
  width: 100%;
  background: whitesmoke;
  padding: 10px 12px;
  cursor: pointer;
  border: 1px solid lightgray;
  box-sizing: border-box;
}

.dropdown-button .dropdown-label,
.dropdown-button .dropdown-quantity {
  float: left;
}

.dropdown-button .dropdown-quantity {
  margin-left: 4px;
}

.dropdown-button .fa-filter {
  float: right;
}

.dropdown-list {
  float: left;
  width: 100%;
  border: 1px solid lightgray;
  border-top: none;
  box-sizing: border-box;
  padding: 10px 12px;
}

.dropdown-list input[type="search"] {
  width: 100%;
  padding: 5px 0;
}

.dropdown-list ul {
  margin: 10px 0;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-list ul input[type="checkbox"] {
  position: relative;
  top: 2px;
}
.unrecieve {
  pointer-events: none;
}
.disabled {
  pointer-events: none;
  opacity: 0.6;
}
