table.dataTable {
  margin: 0 !important;
}
.kustom360-font-color-secondary {
  color: #e5ad37 !important;
}

.registration-success-page-container {
  width: 38%;
  margin: 0 auto;
}

.registration-failed-page-container {
  width: 38%;
  margin: 0 auto;
}

.navbar {
  background: #0c1335;
}

/* notification dropdown */
.dropdown-navbar.navbar-notification {
  border-color: #122264;
}
.dropdown-navbar.navbar-notification > li:hover {
  background-color: #d5e4ef;
}
.dropdown-navbar.navbar-notification > li.dropdown-header {
  background-color: #122264;
  color: #ffffff;
  border-bottom-color: #122264;
}
.dropdown-navbar.navbar-notification > li.dropdown-header > .ace-icon {
  color: #122264;
}
/* .dropdown-navbar.navbar-notification > li > a {
  border-top-color: #122264;
} */
.dropdown-navbar.navbar-notification .nav-tabs > li.active > a {
  border-bottom: 2px solid #e5bcd4 !important;
  color: #c06090 !important;
  background-color: #f7ecf2 !important;
}
.dropdown-navbar.navbar-notification .nav-tabs > li:not(.active) > a:hover {
  color: #ba7396;
}
.dropdown-navbar.navbar-notification .nav-tabs > li > a:before {
  background-color: #cebbcb;
}
.dropdown-navbar.navbar-notification .nav-tabs > li > a {
  border-bottom-color: #cebbcd !important;
}

.navbar-notification-right {
  right: 0px !important;
}
/* ================ */
/* ================ */

.ace-nav > li.kustom360-orange > a {
  background-color: #e5ad37;
}

.ace-nav > li.kustom360-orange > a:hover,
.ace-nav > li.green > a:focus,
.ace-nav > li.open.kustom360-orange > a {
  background-color: #fdc03e;
}

.ace-nav > li.kustom360-blue > a {
  background-color: #0c1335;
}

.ace-nav > li.kustom360-blue > a:hover,
.ace-nav > li.green > a:focus,
.ace-nav > li.open.kustom360-blue > a {
  background-color: #131f5a;
}

.kustom360-blue {
  background: #0c1335;
}

.kustom360-blue-text {
  color: #0c1335;
}

.yellow {
  color: #f89406;
}

.blue-1 {
  color: #2679b5;
}

.label-user {
  font-weight: normal;
  font-size: 13px;
}

.required {
  color: red;
}

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

dt {
  font-weight: bold;
  /* font-size: 12px; */
  float: left;
  text-align: right;
  width: 49%;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  padding-right: 10px;
  margin: 0;
}

dd {
  float: left;
  width: 50%;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0;
}

.shadow {
  -moz-box-shadow: 1px 1px 1px 1px #a2a2a2;
  -webkit-box-shadow: 1px 1px 1px 1px #a2a2a2;
  box-shadow: 1px 1px 1px 1px #a2a2a2;
}

.button-report {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.button-report:hover {
  top: -5px;
}

.button-report-border {
  border-style: solid;
  border-color: #000;
  border-width: 1px;
}

.button-report-height {
  height: 100px;
}

.button-report-icon {
  background: #f4f6f7;
  line-height: 120px;
  vertical-align: middle;
}

.button-report-text {
  line-height: 100px;
  vertical-align: middle;
  font-size: 16px;
}

/* /////////////////////////////////////// */

.time {
  font-size: 11.05px;
  line-height: 1.5em;
  color: gray;
}

.margin-right-15 {
  margin-right: 15px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.li-margin-bottom-5 li {
  margin-bottom: 5px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}
.margin-5 {
  margin: 5px 5px 5px 5px !important;
}

.margin-5-15-5-5 {
  margin: 5px 15px 5px 5px !important;
}

.display-inline-flex {
  display: inline-flex;
}

.display-inline-flex button {
  height: 32px;
  margin-left: 3px !important;
}

.required {
  color: red;
}

th .required {
  font-weight: normal;
}

.select2-container .select2-choice {
  border: 1px solid #d5d5d5;
}

.select2-container .select2-choice {
  background: #ffffff none;
}

.yellow {
  color: #f89406 !important;
}

.action-buttons a {
  opacity: 1;
}

.wysiwyg-editor {
  max-height: inherit;
  height: 350px;
}

.mmo-readonly {
  cursor: default !important;
}

.padding-left-12 {
  padding-left: 12px;
}

.padding-left-3-percent {
  padding-left: 3%;
}

.dd {
  max-width: none;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

input[readonly] {
  /*   color: #000000; */
}

input[readonly]:focus {
  color: #000000;
}

textarea[readonly] {
  background-color: #f5f5f5;
  border: 1px solid #d5d5d5;
}

.tags {
  width: 500px;
  border-color: white;
  padding: 0px 0px;
}

.tags:hover {
  border-color: white;
}

.show_map {
  cursor: pointer;
}

.profile-info-name {
  width: 170px;
}

#products .profile-info-name {
  text-align: left;
  width: 80%;
}

#div_user_report .profile-info-name {
  text-align: left;
  width: 50%;
}

#div_user_report .profile-user-info {
  width: 100%;
}

#div_sales_entry .profile-info-name {
  text-align: left;
  width: 30%;
}

.bordered {
  border: 1px solid #dcebf7;
}

#div_shelf_summary .btn-app {
  width: 100%;
}

.summary-box {
  width: 100% !important;
  cursor: default;
}

.large .chart {
  height: 270px;
}

.xlarge .chart {
  height: 298px;
}

.pie-chart {
  position: relative;
}

.bold {
  font-weight: bold;
}

.chart-label {
  margin-bottom: -10px !important;
}

.close {
  line-height: 25px !important;
}

.mmo-questionaire {
  margin: 0px;
  min-height: 200px;
  border-style: dashed;
  padding: 5px;
  border-color: #c2c2c2;
  list-style: none;
}

.mmo-questionaire ol {
  list-style: none;
}

#table_stores button.active {
  background-color: #555555 !important;
  border-color: #555555;
  color: #fff !important;
}

/*workaround to solve modal-backdrop scroll*/
.modal-backdrop {
  position: fixed;
  bottom: 0;
  height: auto !important;
}

.intl-tel-input {
  display: table-cell;
}

#report_sales li {
  cursor: pointer;
}

.frame img {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
.frame img[style*="opacity: 1"] {
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}

select:focus {
  color: #858585 !important;
}

.nice-border {
  border: 1px solid #ccc;
  border-radius: 25px;
}

@media (min-width: 768px) {
  #duplicate_modal .modal-dialog {
    width: 850px;
    margin: 30px auto;
  }
}

.focus-status-label {
  border: 2px solid #336199 !important;
  border-right: #fff !important;
}

.focus-status-value {
  border: 2px solid #336199 !important;
  border-left: #fff !important;
}

.weeklabelenable {
  margin-top: 2px;
  width: 47px;
}

input[readonly] {
  border: 0;
}

.frame {
  height: 100%; /* equals max image height */
  width: 100%;
  border: 1px solid;
  white-space: nowrap;
  text-align: center;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.frame img {
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
  padding-right: 7px;
}

.modal-lg {
  width: 100%;
  height: 100%;
}

.test {
  width: 200px;
  display: inline-block;
  overflow: auto;
  white-space: nowrap;
  margin: 0px auto;
  border: 1px red solid;
}

.zoom_btn {
  background-color: #000000 !important;
  border-color: #000000;
}

li img {
  cursor: pointer;
  object-fit: cover;
}

.image_details {
  text-align: right;
  padding: 6px 10px 6px 4px;
  font-weight: normal;
  color: #667e99;
  background-color: transparent;
  border-top: 1px dotted #d5e4f1;
  display: table-cell;
  /*width: 110px;*/
  vertical-align: middle;
}

.zoom_btn:hover {
  opacity: 0.6;
}
.zoom_btn {
  opacity: 0;
  border: 0;
}

#preview_image_modal {
  padding-right: 0 !important;
}

#survey_name[readonly] {
  font-weight: bolder;
  text-align: center;
}

.border-status {
  border-bottom: none !important;
}

.border-reason {
  border-top: 1px dotted #dcebf7 !important;
}

.progress[data-percent]:after {
  color: #000000;
}
#sales_report_table th {
  vertical-align: middle;
}

.search {
  font-size: 12px !important;
}
.margin-left-10 {
  margin-left: 10px;
}

.chosen-container-multi .chosen-choices li.search-choice {
  line-height: 12px;
  padding-bottom: 4px;
  /*     width: 100% !important; */
}

.chosen-container {
  /* width: 100% !important;*/
}

.chosen-width {
  width: 100% !important;
}

.filter-options {
  max-height: 210px;
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

.widget-body .table {
  border-top: 0;
}
.table > thead > tr > th {
  background: #fff;
}

.dropdown-menu li label {
  cursor: pointer;
}

#div_summary .infobox {
  border: none;
}

table td.group {
  background-color: #82af6f;
  color: #fff !important;
  font-weight: bold;
}

a.infobox-text:hover {
  cursor: pointer !important;
}

ul.center-images {
  display: table;
  margin-right: auto;
  margin-left: auto;
}

.rate {
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: bold;
}

.user-report-summary-box {
  width: 100% !important;
  cursor: default;
}

.user-report-summary-box span.summary-box-label {
  color: #996633 !important;
}

.user-report-summary-box.green {
  background-color: #69aa46 !important;
}

.user-report-summary-box.green span.summary-box-label {
  color: #ffffff !important;
}

.user-report-summary-box.green span.summary-box-value {
  color: #ffffff !important;
}

.user-report-summary-box.yellow {
  background-color: #fee088 !important;
}

#div_images li {
  border: 1px solid #dddddd;
  border-radius: 4px;
}

.gallery {
  text-align: center;
  padding: 5px;
  width: 150px;
  height: 220px;
}
.gallery .caption p {
  margin-bottom: 0;
  line-height: 1;
}

.gallery h6 {
  /*margin-bottom: 0;*/
  margin-top: 5px;
  text-align: left;
}

.gallery .caption {
  text-align: left;
  /*position: absolute;*/
  /*bottom: 0;*/
  padding-bottom: 5px;
}

.very-light-gray {
  background-color: rgb(248, 248, 248);
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

/* Events */
.day-name {
  background-color: #e4e4e4 !important;
  /* border-radius: 0px!important;
  border-color: grey!important;
  font-size:12px!important;
  color:black!important;
  font-weight:bold!important;
  line-height: 30px!important; */
}

.account-branch-name {
  background-color: #ffffff !important;
  border-radius: 0px !important;
  border-color: grey !important;
  font-size: 12px !important;
  color: black !important;
  /*   line-height: 30px!important; */
}
