.styles_modal__gNwvD {
  /* modal style override */
  max-width: 100%;
  width: 95%;
  height: 100%;
  border-radius: 5px;
}
.styles_overlay__CLSq- {
  padding: 0.5rem;
}
.react-datepicker-wrapper,
.react-datepicker__input-container {
  /* datepicker override */
  display: block !important;
}
