.week {
  color: #cc0000 !important;
}
.week:hover {
  color: #fff !important;
  background-color: #cc0000 !important ;
}
.week:hover + td {
  color: #fff;
  background-color: #08c !important ;
}
.week:hover + td + td + td + td + td + td + td {
  color: #fff;
  background-color: #08c !important ;
}
.month:hover {
  background-color: #eee;
  border-color: transparent;
  color: inherit;
}
.daterangepicker .ranges li {
  color: #08c;
}
.fc-event {
  background-color: #e4e4e4 !important;
  border-radius: 0px !important;
  border-color: grey !important;
  font-size: 12px !important;
  color: black !important;
  font-weight: bold !important;
  line-height: 1.5 !important;
}
.fc-event div {
  text-align: center;
}
.modal-open li {
  z-index: 1050 !important;
}
.hideButton {
  visibility: hidden !important;
}
.fc-content-skeleton table thead tr {
  height: 40px;
}
.srv-validation-message,
.required {
  color: #cc0000 !important;
}
div[disabled] {
  pointer-events: none;
  opacity: 0.7;
}
.pointer {
  cursor: pointer;
}
